@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
// ## Colors
// ### Primary

$violet: hsl(257, 40%, 49%);

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(/images/bg-desktop.svg);
  background-color: hsl(257, 40%, 49%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.5;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;
  color: white;
  padding: 50px;

  .top-row {
    display: flex;
  }

  .middle-row {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 40%;
      height: auto;
    }

    .main-text-content {
      align-self: flex-start;
      max-width: 40%;
      height: auto;
      margin-left: 50px;
    }
  }

  .bottom-row {
    display: flex;
    justify-content: flex-end;
    padding: 15px;

    .social-icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 180px;

      .social-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        border-radius: 50px;
        width: 40px;
        height: 40px;
      }
    }
  }
}
